@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #e3f1fe;
  transition: 0.2s ease-in-out;

  padding-right: 3rem;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 3rem;
  

  background-color: white;
}

.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.toggle-box {

  padding-top: 3rem;
}

.planCard-collection{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}
.special-card-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 3rem;


} 


